@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  scrollbar-width: thin !important;
  scrollbar-color: #71717a #3f3f46 !important;
  -ms-overflow-style: auto !important;
}

.custom-scrollbar::-webkit-scrollbar {
  display: block !important;
  width: 3px !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #3f3f46 !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #71717a !important;
  border-radius: 99px !important;
}

@layer utilities {
  .animate-gradient-xy {
    background-size: 200% 200%;
    animation: gradient-xy 5s ease infinite;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
